<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LAIN 控制台</title>
  <link rel="stylesheet" href="/public/material-1.0.4/material.min.css">
  <script src="/public/material-1.0.4/material.min.js"></script>
  <link rel="stylesheet" href="/public/material-1.0.4/icons.css">
  <link rel="stylesheet" href="/public/xterm.js-2.1.0/xterm.css">
</head>

<body style="background-color: #FAFAFA;">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">LAIN 集群控制台</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/archon/">首页</a>
          <a class="mdl-navigation__link" href="/archon/apps">应用</a>
          <a class="mdl-navigation__link" href="/archon/apps?type=service">服务</a>
          <a class="mdl-navigation__link" href="/archon/apps?type=resource">资源</a>
          <a class="mdl-navigation__link" href="/archon/">集群</a>
          <a class="mdl-navigation__link" href="/archon/authorize/logout">退出</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">LAIN 集群控制台</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/archon/">首页</a>
        <a class="mdl-navigation__link" href="/archon/apps">应用</a>
        <a class="mdl-navigation__link" href="/archon/apps?type=service">服务</a>
        <a class="mdl-navigation__link" href="/archon/apps?type=resource">资源</a>
        <a class="mdl-navigation__link" href="/archon/">集群</a>
        <a class="mdl-navigation__link" href="/archon/authorize/logout">退出</a>
      </nav>
    </div>

    <main class="mdl-layout__content" style="padding:16px;height:100%" id="archon"></main>

  </div>
  <div id="dialog"></div>
</body>

<script>
  window.assets = {
    "imgLogo": "{{ assets "images/archon/logo.png" }}",
    "apiServer": "{{.ApiServer}}",
    "ssoServer": "{{.SsoServer}}",
    "ssoClientId": {{.SsoClientId}},
    "entryServer": "{{.EntryServer}}",
  };
</script>
<script src="{{ assets "javascripts/archon.js" }}"></script>

</html>
